body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  font-weight: bold;
}

.footer {
  font-weight: bold;
  text-align: right;
  margin-bottom: 0px;
}

.card-text {
  margin-bottom: 8px;
}

.bg-primary a {
  text-shadow: 0px 0px 5px black;
}