body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  font-weight: bold;
}

.footer {
  font-weight: bold;
  text-align: right;
  margin-bottom: 0px;
}

.card-text {
  margin-bottom: 8px;
}